.nav-link {
    color: white !important;
}

button i {
    color: white;
}
.timeline-widget {
  height: 50px;
}

footer {
    height: auto;
    color: white;
}

footer a {
    color: white;
    font-size: 15px !important;
}
footer p{
    text-align: center;
    font-size: 15px;
}

.timeline-Widget {
    height: 50vh;
    overflow: scroll
}

#twitter-widget-0 {
    height: 50vh !important;
    overflow: scroll !important;
}

